---
http_interactions:
- request:
    method: get
    uri: http://web.archive.org/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 23 Mar 2025 19:47:27 GMT
- request:
    method: get
    uri: http://web.archive.org/cdx/search/cdx?collapse=timestamp:8&output=json&url=https://www.planningalerts.org.au/authorities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app206
      X-Ts:
      - '200'
      X-Tr:
      - '2013'
      X-Location:
      - cdx
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - BYPASS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: |
        [["urlkey","timestamp","original","mimetype","statuscode","digest","length"],
        ["au,org,planningalerts)/authorities","20110704164342","http://www.planningalerts.org.au:80/authorities","text/html","404","BDIW7ZBH3TZ56JQSGNQYS2R7HLT3RXWD","832"],
        ["au,org,planningalerts)/authorities","20110804171440","http://www.planningalerts.org.au:80/authorities","text/html","200","I2M3B65XHCJZ7S5MFTXGY4OHVBFKGVQT","4171"],
    [...]
