---
http_interactions:
- request:
    method: get
    uri: http://web.archive.org/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 10 Apr 2025 18:58:36 GMT
- request:
    method: get
    uri: http://web.archive.org/cdx/search/cdx?collapse=timestamp:8&from=20190301&output=json&url=https://www.planningalerts.org.au/authorities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app228
      X-Ts:
      - '200'
      X-Tr:
      - '478'
      X-Location:
      - cdx
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - BYPASS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: |
        [["urlkey","timestamp","original","mimetype","statuscode","digest","length"],
        ["au,org,planningalerts)/authorities","20190301045654","https://www.planningalerts.org.au/authorities","text/html","200","Y3MJ4FQXSLYN67GOG74Q7MF4ALKWWB6E","10618"],
        ["au,org,planningalerts)/authorities","20190306150441","https://www.planningalerts.org.au/authorities","text/html","200","MAUV24RMCV2JA43BFP3SBJG2ZLJRZOGI","10622"],
     [...]
