---
http_interactions:
- request:
    method: get
    uri: http://web.archive.org/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sun, 06 Apr 2025 14:38:16 GMT
- request:
    method: get
    uri: http://web.archive.org/cdx/search/cdx?collapse=timestamp:8&from=20230101&output=json&to=20230131&url=https://www.planningalerts.org.au/authorities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app206
      X-Ts:
      - '200'
      X-Tr:
      - '580'
      X-Location:
      - cdx
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - BYPASS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: "[]\n"
  recorded_at: Sun, 06 Apr 2025 14:38:16 GMT
recorded_with: VCR 6.3.1
