/* Additional styling just for the landing page */
.intro-text {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #555;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 1rem 0 3rem;
    grid-auto-rows: minmax(min-content, max-content);
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--card-background, #ffffff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    min-height: 290px;
}

.project-card p {
    margin-bottom: 1.5rem;
}

.project-icon {
    font-size: 2.8rem;
    color: #00843D;
    margin-bottom: 1.2rem;
}

.about {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 2rem;
    margin-top: 1rem;
}

.note {
    font-style: italic;
    margin-top: 1.5rem;
    color: #666;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.button {
    margin-top: auto;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        margin-bottom: 2rem;
    }
}
