---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c816d4222bc5237e04e0d5debe54bb29b9f0de26bd621e3ca8d9f5cb6065de90"
      Last-Modified:
      - Tue, 25 Mar 2025 10:46:22 GMT
      X-Oauth-Scopes:
      - read:audit_log, read:discussion, read:enterprise, read:gpg_key, read:network_configurations,
        read:org, read:packages, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2026-04-06 14:00:00 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1744531434'
      X-Ratelimit-Used:
      - '64'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ianheggie-oaf","id":183138466,"node_id":"U_kgDOCup4og","avatar_url":"https://avatars.githubusercontent.com/u/183138466?v=4","gravatar_id":"","url":"https://api.github.com/users/ianheggie-oaf","html_url":"https://github.com/ianheggie-oaf","followers_url":"https://api.github.com/users/ianheggie-oaf/followers","following_url":"https://api.github.com/users/ianheggie-oaf/following{/other_user}","gists_url":"https://api.github.com/users/ianheggie-oaf/gists{/gist_id}","starred_url":"https://api.github.com/users/ianheggie-oaf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ianheggie-oaf/subscriptions","organizations_url":"https://api.github.com/users/ianheggie-oaf/orgs","repos_url":"https://api.github.com/users/ianheggie-oaf/repos","events_url":"https://api.github.com/users/ianheggie-oaf/events{/privacy}","received_events_url":"https://api.github.com/users/ianheggie-oaf/received_events","type":"User","user_view_type":"private","site_admin":false,"name":null,"company":null,"blog":"","location":"Australia","email":"ian+oaf@heggie.biz","hireable":null,"bio":null,"twitter_username":null,"notification_email":"ian+oaf@heggie.biz","public_repos":8,"public_gists":0,"followers":0,"following":1,"created_at":"2024-09-27T18:33:29Z","updated_at":"2025-03-25T10:46:22Z","private_gists":0,"total_private_repos":10,"owned_private_repos":2,"disk_usage":127847,"collaborators":3,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Sun, 13 Apr 2025 07:12:56 GMT
- request:
    method: get
    uri: https://api.github.com/user/memberships/orgs/planningalerts-scrapers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"193138ac0225070daf76ce58fc5dc258ad2bb4d44c73a1bedd776c26d732b20f"
      X-Oauth-Scopes:
      - read:audit_log, read:discussion, read:enterprise, read:gpg_key, read:network_configurations,
        read:org, read:packages, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user, repo
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      Github-Authentication-Token-Expiration:
      - 2026-04-06 14:00:00 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4935'
      X-Ratelimit-Reset:
      - '1744531434'
      X-Ratelimit-Used:
      - '65'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/orgs/planningalerts-scrapers/memberships/ianheggie-oaf","state":"active","role":"member","organization_url":"https://api.github.com/orgs/planningalerts-scrapers","user":{"login":"ianheggie-oaf","id":183138466,"node_id":"U_kgDOCup4og","avatar_url":"https://avatars.githubusercontent.com/u/183138466?v=4","gravatar_id":"","url":"https://api.github.com/users/ianheggie-oaf","html_url":"https://github.com/ianheggie-oaf","followers_url":"https://api.github.com/users/ianheggie-oaf/followers","following_url":"https://api.github.com/users/ianheggie-oaf/following{/other_user}","gists_url":"https://api.github.com/users/ianheggie-oaf/gists{/gist_id}","starred_url":"https://api.github.com/users/ianheggie-oaf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ianheggie-oaf/subscriptions","organizations_url":"https://api.github.com/users/ianheggie-oaf/orgs","repos_url":"https://api.github.com/users/ianheggie-oaf/repos","events_url":"https://api.github.com/users/ianheggie-oaf/events{/privacy}","received_events_url":"https://api.github.com/users/ianheggie-oaf/received_events","type":"User","user_view_type":"public","site_admin":false},"organization":{"login":"planningalerts-scrapers","id":6440888,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY0NDA4ODg=","url":"https://api.github.com/orgs/planningalerts-scrapers","repos_url":"https://api.github.com/orgs/planningalerts-scrapers/repos","events_url":"https://api.github.com/orgs/planningalerts-scrapers/events","hooks_url":"https://api.github.com/orgs/planningalerts-scrapers/hooks","issues_url":"https://api.github.com/orgs/planningalerts-scrapers/issues","members_url":"https://api.github.com/orgs/planningalerts-scrapers/members{/member}","public_members_url":"https://api.github.com/orgs/planningalerts-scrapers/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/6440888?v=4","description":"Scrapers
        that power PlanningAlerts, hosted on Morph.io"}}'
  recorded_at: Sun, 13 Apr 2025 07:12:56 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=is:pr%20author:ianheggie-oaf%20org:planningalerts-scrapers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:audit_log, read:discussion, read:enterprise, read:gpg_key, read:network_configurations,
        read:org, read:packages, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2026-04-06 14:00:00 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Sunset:
      - Thu, 04 Sep 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>;
        rel="deprecation"; type="text/html"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1744528436'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":17,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/issues/23","repository_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon","labels_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/issues/23/labels{/name}","comments_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/issues/23/comments","events_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/issues/23/events","html_url":"https://github.com/planningalerts-scrapers/multiple_icon/pull/23","id":2956571229,"node_id":"PR_kwDOC2jyAs6QlOSN","number":23,"title":"Removed
        Hobart City Council since it moved to planbuild (tas) ","user":{"login":"ianheggie-oaf","id":183138466,"node_id":"U_kgDOCup4og","avatar_url":"https://avatars.githubusercontent.com/u/183138466?v=4","gravatar_id":"","url":"https://api.github.com/users/ianheggie-oaf","html_url":"https://github.com/ianheggie-oaf","followers_url":"https://api.github.com/users/ianheggie-oaf/followers","following_url":"https://api.github.com/users/ianheggie-oaf/following{/other_user}","gists_url":"https://api.github.com/users/ianheggie-oaf/gists{/gist_id}","starred_url":"https://api.github.com/users/ianheggie-oaf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ianheggie-oaf/subscriptions","organizations_url":"https://api.github.com/users/ianheggie-oaf/orgs","repos_url":"https://api.github.com/users/ianheggie-oaf/repos","events_url":"https://api.github.com/users/ianheggie-oaf/events{/privacy}","received_events_url":"https://api.github.com/users/ianheggie-oaf/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"jamezpolley","id":216918,"node_id":"MDQ6VXNlcjIxNjkxOA==","avatar_url":"https://avatars.githubusercontent.com/u/216918?v=4","gravatar_id":"","url":"https://api.github.com/users/jamezpolley","html_url":"https://github.com/jamezpolley","followers_url":"https://api.github.com/users/jamezpolley/followers","following_url":"https://api.github.com/users/jamezpolley/following{/other_user}","gists_url":"https://api.github.com/users/jamezpolley/gists{/gist_id}","starred_url":"https://api.github.com/users/jamezpolley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamezpolley/subscriptions","organizations_url":"https://api.github.com/users/jamezpolley/orgs","repos_url":"https://api.github.com/users/jamezpolley/repos","events_url":"https://api.github.com/users/jamezpolley/events{/privacy}","received_events_url":"https://api.github.com/users/jamezpolley/received_events","type":"User","user_view_type":"public","site_admin":false},"assignees":[{"login":"jamezpolley","id":216918,"node_id":"MDQ6VXNlcjIxNjkxOA==","avatar_url":"https://avatars.githubusercontent.com/u/216918?v=4","gravatar_id":"","url":"https://api.github.com/users/jamezpolley","html_url":"https://github.com/jamezpolley","followers_url":"https://api.github.com/users/jamezpolley/followers","following_url":"https://api.github.com/users/jamezpolley/following{/other_user}","gists_url":"https://api.github.com/users/jamezpolley/gists{/gist_id}","starred_url":"https://api.github.com/users/jamezpolley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamezpolley/subscriptions","organizations_url":"https://api.github.com/users/jamezpolley/orgs","repos_url":"https://api.github.com/users/jamezpolley/repos","events_url":"https://api.github.com/users/jamezpolley/events{/privacy}","received_events_url":"https://api.github.com/users/jamezpolley/received_events","type":"User","user_view_type":"public","site_admin":false}],"milestone":null,"comments":0,"created_at":"2025-03-28T16:05:34Z","updated_at":"2025-04-06T15:28:36Z","closed_at":null,"author_association":"MEMBER","type":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/pulls/23","html_url":"https://github.com/planningalerts-scrapers/multiple_icon/pull/23","diff_url":"https://github.com/planningalerts-scrapers/multiple_icon/pull/23.diff","patch_url":"https://github.com/planningalerts-scrapers/multiple_icon/pull/23.patch","merged_at":null},"body":"Removed
        hobart as its now a planbuild (tas) site - see\r\n* https://github.com/planningalerts-scrapers/issues/issues/985\r\n","reactions":{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/issues/23/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_icon/issues/23/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_horizon/issues/15","repository_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_horizon","labels_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_horizon/issues/15/labels{/name}","comments_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_horizon/issues/15/comments","events_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_horizon/issues/15/events",[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_icon/pulls/23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1964b2bfb8734fa2aa2817452946932f276e9aebeb8f52bd0fabd9baf01dd9c"
      La[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/pulls/19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"487e68da8f4c1a57823224e4575566fd5ef66cc7e47d667f6351533876b3af40"
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_civica/pulls/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b771ac6fc9e4659f1a0489bcebcc62dcd58389049e1e7ac4e465b71e9ca9ecbc"
      [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_technology_one/pulls/28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab8749df04032fb7c038a950e536c3844ef09372c836a3ceb7ffc532114646bc[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/clarence/pulls/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99b39a36e13b361c6ea1e91bcc811ce0047d64650890df461cbefeaa8ec5396d"
      Last-Mod[...]
[...]
