---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1c2e7d015b977a8df223405e35e95ed83beeb322d1ec7bc76e903005c547774"
      Last-Modified:
      - Tue, 25 Mar 2025 10:46:22 GMT
      X-Oauth-Scopes:
      - read:audit_log, read:discussion, read:enterprise, read:gpg_key, read:network_configurations,
        read:org, read:packages, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2026-04-06 14:00:00 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1745019910'
      X-Ratelimit-Used:
      - '56'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ianheggie-oaf","id":183138466,"node_id":"U_kgDOCup4og","avatar_url":"https://avatars.githubusercontent.com/u/183138466?v=4","gravatar_id":"","url":"https://api.github.com/users/ianheggie-oaf","html_url":"https://github.com/ianheggie-oaf","followers_url":"https://api.github.com/users/ianheggie-oaf/followers","following_url":"https://api.github.com/users/ianheggie-oaf/following{/other_user}","gists_url":"https://api.github.com/users/ianheggie-oaf/gists{/gist_id}","starred_url":"https://api.github.com/users/ianheggie-oaf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ianheggie-oaf/subscriptions","organizations_url":"https://api.github.com/users/ianheggie-oaf/orgs","repos_url":"https://api.github.com/users/ianheggie-oaf/repos","events_url":"https://api.github.com/users/ianheggie-oaf/events{/privacy}","received_events_url":"https://api.github.com/users/ianheggie-oaf/received_events","type":"User","user_view_type":"private","site_admin":false,"name":null,"company":null,"blog":"","location":"Australia","email":"ian+oaf@heggie.biz","hireable":null,"bio":null,"twitter_username":null,"notification_email":"ian+oaf@heggie.biz","public_repos":9,"public_gists":0,"followers":0,"following":1,"created_at":"2024-09-27T18:33:29Z","updated_at":"2025-03-25T10:46:22Z","private_gists":0,"total_private_repos":10,"owned_private_repos":2,"disk_usage":69047,"collaborators":3,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Fri, 18 Apr 2025 22:51:01 GMT
- request:
    method: get
    uri: https://api.github.com/user/memberships/orgs/planningalerts-scrapers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"193138ac0225070daf76ce58fc5dc258ad2bb4d44c73a1bedd776c26d732b20f"
      X-Oauth-Scopes:
      - read:audit_log, read:discussion, read:enterprise, read:gpg_key, read:network_configurations,
        read:org, read:packages, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user, repo
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      Github-Authentication-Token-Expiration:
      - 2026-04-06 14:00:00 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1745019910'
      X-Ratelimit-Used:
      - '57'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/orgs/planningalerts-scrapers/memberships/ianheggie-oaf","state":"active","role":"member","organization_url":"https://api.github.com/orgs/planningalerts-scrapers","user":{"login":"ianheggie-oaf","id":183138466,"node_id":"U_kgDOCup4og","avatar_url":"https://avatars.githubusercontent.com/u/183138466?v=4","gravatar_id":"","url":"https://api.github.com/users/ianheggie-oaf","html_url":"https://github.com/ianheggie-oaf","followers_url":"https://api.github.com/users/ianheggie-oaf/followers","following_url":"https://api.github.com/users/ianheggie-oaf/following{/other_user}","gists_url":"https://api.github.com/users/ianheggie-oaf/gists{/gist_id}","starred_url":"https://api.github.com/users/ianheggie-oaf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ianheggie-oaf/subscriptions","organizations_url":"https://api.github.com/users/ianheggie-oaf/orgs","repos_url":"https://api.github.com/users/ianheggie-oaf/repos","events_url":"https://api.github.com/users/ianheggie-oaf/events{/privacy}","received_events_url":"https://api.github.com/users/ianheggie-oaf/received_events","type":"User","user_view_type":"public","site_admin":false},"organization":{"login":"planningalerts-scrapers","id":6440888,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY0NDA4ODg=","url":"https://api.github.com/orgs/planningalerts-scrapers","repos_url":"https://api.github.com/orgs/planningalerts-scrapers/repos","events_url":"https://api.github.com/orgs/planningalerts-scrapers/events","hooks_url":"https://api.github.com/orgs/planningalerts-scrapers/hooks","issues_url":"https://api.github.com/orgs/planningalerts-scrapers/issues","members_url":"https://api.github.com/orgs/planningalerts-scrapers/members{/member}","public_members_url":"https://api.github.com/orgs/planningalerts-scrapers/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/6440888?v=4","description":"Scrapers
        that power PlanningAlerts, hosted on Morph.io"}}'
  recorded_at: Fri, 18 Apr 2025 22:51:01 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=is:pr%20author:ianheggie-oaf%20org:planningalerts-scrapers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:audit_log, read:discussion, read:enterprise, read:gpg_key, read:network_configurations,
        read:org, read:packages, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2026-04-06 14:00:00 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Sunset:
      - Thu, 04 Sep 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>;
        rel="deprecation"; type="text/html"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1745016723'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":24,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/24","repository_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview","labels_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/24/labels{/name}","comments_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/24/comments","events_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/24/events","html_url":"https://github.com/planningalerts-scrapers/multiple_masterview/pull/24","id":2997225641,"node_id":"PR_kwDOC4chCc6Stjeg","number":24,"title":"Singleton
        Council","user":{"login":"ianheggie-oaf","id":183138466,"node_id":"U_kgDOCup4og","avatar_url":"https://avatars.githubusercontent.com/u/183138466?v=4","gravatar_id":"","url":"https://api.github.com/users/ianheggie-oaf","html_url":"https://github.com/ianheggie-oaf","followers_url":"https://api.github.com/users/ianheggie-oaf/followers","following_url":"https://api.github.com/users/ianheggie-oaf/following{/other_user}","gists_url":"https://api.github.com/users/ianheggie-oaf/gists{/gist_id}","starred_url":"https://api.github.com/users/ianheggie-oaf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ianheggie-oaf/subscriptions","organizations_url":"https://api.github.com/users/ianheggie-oaf/orgs","repos_url":"https://api.github.com/users/ianheggie-oaf/repos","events_url":"https://api.github.com/users/ianheggie-oaf/events{/privacy}","received_events_url":"https://api.github.com/users/ianheggie-oaf/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-04-15T18:11:32Z","updated_at":"2025-04-15T18:11:32Z","closed_at":null,"author_association":"MEMBER","type":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/pulls/24","html_url":"https://github.com/planningalerts-scrapers/multiple_masterview/pull/24","diff_url":"https://github.com/planningalerts-scrapers/multiple_masterview/pull/24.diff","patch_url":"https://github.com/planningalerts-scrapers/multiple_masterview/pull/24.patch","merged_at":null},"body":"Builds
        on lismore''s PR and relaxes requirements slightly\r\n- https://github.com/planningalerts-scrapers/multiple_masterview/pull/22","reactions":{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/24/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/24/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/23","repository_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview","labels_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/23/labels{/name}","comments_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/issues/23/comments","events_url":"https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/iss[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_masterview/pulls/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b102048aba6d6f26906c368ebfea404d7977b5cb36df7937a15b8f087ce6a65"
  [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_civica/pulls/17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e5e6ba5d4bb42c1e4e762de0cfe57a6e2753d36615da55c953a234ec9b8eb51e"
      [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_icon/pulls/23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f1964b2bfb8734fa2aa2817452946932f276e9aebeb8f52bd0fabd9baf01dd9c"
      La[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/multiple_technology_one/pulls/28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab8749df04032fb7c038a950e536c3844ef09372c836a3ceb7ffc532114646bc[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/planningalerts-scrapers/clarence/pulls/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d1e1b1b94a16504c847c3bed310dcfbad5e73f6faf4b9c8253e6d42f68f95625"
      Last-Mod[...]
[...]
